<footer class="flex-rw">
  <ul class="footer-list-top">
    <li>
      <h4 class="footer-list-header"><strong>Dr Rhonda Patrick: &nbsp; Nutrition
          Tips</strong></h4>
      <iframe
        width="280"
        height="157"
        src="https://www.youtube.com/embed/bVV2RFEiqN4"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope;
        picture-in-picture"
        allowfullscreen></iframe>
    </li>
  </ul>
  <ul class="footer-list-top">
    <li>
      <h4 class="footer-list-header"><strong>BrainStuff: &nbsp; Calorie
          Consumption</strong></h4>
      <iframe
        width="280"
        height="157"
        src="https://www.youtube.com/embed/Mgx6j3Ne-wI"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope;
        picture-in-picture"
        allowfullscreen></iframe>
    </li>
  </ul>
  <ul class="footer-list-top">
    <li id='help'>
      <h4 class="footer-list-header"><strong>BuzzFeed: &nbsp; 2000 Cals-A-Day</strong></h4>
      <iframe
        width="280"
        height="157"
        src="https://www.youtube.com/embed/rgaqwFPU7cc"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope;
        picture-in-picture"
        allowfullscreen></iframe>
    </li>
  </ul>
  <section class="footer-social-section flex-rw">
    <span class="footer-social-overlap footer-social-connect">
      CONNECT
    </span>
    <span class="footer-social-overlap footer-social-icons-wrapper">
      <a href="https://github.com/curbyourcode/Kal-Counter"
        class="generic-anchor" target="_blank" title="GitHub"
        itemprop="significantLink"><i class="fab fa-github-square"></i></a>
      <a href="https://rouz1130.github.io/PortfolioS//" class="generic-anchor"
        target="_blank" title="Rouz Majlessi Website"
        itemprop="significantLink"><i class="fas fa-address-card"></i></a>
      <a href="https://www.linkedin.com/in/rouz-maj/" class="generic-anchor"
        target="_blank" title="Linkedin" itemprop="significantLink"><i
          class="fab fa-linkedin"></i></a>
    </span>
  </section>
  <section class="footer-bottom-section flex-rw">
    <div class="footer-bottom-wrapper">
      <i class="fa fa-copyright" role="copyright">

      </i>&nbsp; 2019 Rouz Majlessi <address class="footer-address"
        role="company address">&nbsp; Seattle, Wa</address><span
        class="footer-bottom-rights">&nbsp; - All Rights Reserved - </span>
    </div>
    <div class="footer-bottom-wrapper">
    </div>
  </section>
</footer>
