<div class="container-fluid">
  <div class="row footer-top">
    <div class="col-sm-4 text-center">
      <h4 class="ft-text-title">Dr Rhonda Patrick, Nutrition Tips</h4>
      <div class="embed-responsive embed-responsive-16by9 mb-4 ft-text-title">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/bVV2RFEiqN4"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope;
          picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-sm-4 text-center">
      <h4 class="ft-text-title">BrainStuff, Calorie Consumption</h4>
      <div class="embed-responsive embed-responsive-16by9 mb-4 ft-text-title">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/Mgx6j3Ne-wI"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope;
          picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-sm-4 text-center">
      <h4 class="ft-text-title">BuzzFeed, 2000 Cals A Day</h4>
      <div class="embed-responsive embed-responsive-16by9 mb-4 ft-text-title">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/rgaqwFPU7cc"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope;
          picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>

    <!-- Footer -->
  </div>
  <div class="row ft-copyright pt-2 pb-2" style="padding-left: 25px;">
    <div class="col-sm-4 text-pp-crt" style=" white-space: nowrap;">cpoyright 2019 All Rights Reserved, &nbsp;<span>By
        : <b>R</b>ouz &nbsp;<b>M</b>ajlessi</span></div>
  </div>
</div>
