<app-toolbar></app-toolbar>
<div class='basic-container'>
  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="15px" class="main-div">
    <mat-card class="z-depth center" flex="50">
      <mat-card-content>
        <div class="container">
          <!-- <meal-list [childMealList]="masterMealList" (cick)="showDetails($event)"></meal-list>
          <edit-meal [childSelectedMeal]="selectedMeal" (doneClickedSender)="finishedEditing()"></edit-meal>
          <new-meal (newMealSender)="addMeal($event)"></new-meal>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>



< <div>
  <div class="button-row">
    <button mat-raised-button (click)="openInfoModal()">Show Info Modal</button>
  </div>
</div> -->

