<mat-card *ngIf='childSelectedMeal ' >
    <div>
      <mat-card-title><strong><h2>Edit</h2></strong></mat-card-title>
      <br/>
      <br/>
      <div class='group'>
        <input [(ngModel)]='childSelectedMeal.name' [ngModelOptions]='{standalone:true}'>
        <span class='highlight'></span>
        <span class='bar'></span>
        <label style="color: #666; font-weight: 600; font-size: 16px;">Enter meal:</label>
      </div>
      <div class='group'>
        <input [(ngModel)]='childSelectedMeal.description' [ngModelOptions]='{standalone:true}'>
        <span class='highlight'></span>
        <span class='bar'></span>
        <label style="color: #666; font-weight: 600; font-size: 16px;">Enter name:</label>
      </div>
      <div class='group'>
        <input [(ngModel)]='childSelectedMeal.calories' [ngModelOptions]='{standalone:true}'>
        <span class='highlight'></span>
        <span class='bar'></span>
        <label style="color: #666; font-weight: 600; font-size: 16px;" >Enter calories:</label>
      </div>
    </div>
    <div class="button-container">
      <button type="button" class="button"  (click)='doneClicked()'><span>DONE</span></button>
    </div>
</mat-card>
