/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/scss/bootstrap';
@import "styles/spinner";


body {
  background-color: #D3D3D3;
  // background-image: url("./assets/cutting-board.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
